:root {
	--darkBg: #3a3d57;
	--lightBg: #efefef;
	--textMain: #000000;
	--lighterText: #333333;
	--lightText: #707070;
	--textAccent: #14cc76;
	--accentColor: #ff57a2;
}

*,
::after,
::before {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--darkBg);
	font-family: 'Open Sans', sans-serif;
}

.App {
	margin: 0 auto;
	min-height: 100vh;
	max-width: 1200px;
	background-color: var(--lightBg);
	color: var(--textMain);
}
a {
	text-decoration: none;
	color: var(--lighterText);
}
/* logo ja menuu */
#logo {
	transition: all ease-in-out 0.3s;
}
#logo:hover {
	transform: scale(1.1);
}
.italicText {
	font-style: italic;
	font-weight: 400;
	color: var(--textMain);
	padding-left: 5rem;
}

a:visited,
a:hover {
	color: var(--lighterText);
}
.menu {
	font-family: 'Quicksand', sans-serif;
	margin-top: 3.8rem;
	width: 300px;
}

.menuLinks {
	list-style: none;
	position: relative;
	text-transform: uppercase;
	font-size: 1.5rem;
	line-height: 120%;
	font-weight: 400;
	display: block;
	text-align: right;
}
.menuLink {
	margin: 2rem;
	padding-right: 2rem;
}
.navLink:hover {
	color: var(--textAccent);
	font-weight: 600;
}

.navLink.active {
	color: var(--textAccent);
	font-weight: 600;
}

.container {
	display: flex;
	padding-bottom: 3.75rem;
	justify-content: center;
}

.content {
	max-width: 800px;
	justify-self: center;
}

.mainTitle {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: var(--textAccent);
	font-weight: 700;
	font-size: 2.9rem;
	margin: 3.75rem auto;
}
.introText {
	display: block;
	line-height: 150%;
	font-size: 1.5rem;
	color: #000;
	padding-bottom: 1rem;
}

.mainText {
	font-size: 1.5rem;
	line-height: 150%;
	margin: 2.5rem auto;
	padding-right: 1rem;
}

.textTags {
	color: #fff;
	background-color: var(--accentColor);
	display: inline-block;
	padding: 0.15rem 0.625rem;
	border-radius: 50px;
	margin-right: 0.625rem;
}

.article {
	margin-right: 10%;
}
.articleImg {
	width: 100%;
}

/* Table stuff */
table {
	border-collapse: collapse;
}

thead {
	text-transform: uppercase;
	color: var(--accentColor);
	font-weight: 600;
	cursor: pointer;
}
th {
	text-align: left;
	padding: 0.75rem 0.75rem 0 0.75rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
td {
	cursor: pointer;
	text-align: left;
	padding: 0.6rem;
}

tr:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.info:hover {
	color: var(--accentColor);
}

.activeRow {
	background-color: var(--accentColor);
	color: white;
}
.activeRow:hover {
	color: white;
}

.show {
	display: block;
	max-height: 60em;
}

.additionalInfoRow {
	display: flex;
	justify-content: space-between;
	cursor: default;
	max-width: 100%;
}

.additionalInfo {
	max-width: 75%;
}

.additionalPic {
	max-width: 25%;
	overflow: hidden;
	padding-right: 1rem;
}

.additionalPic img {
	max-width: 100%;
}

/* pagination */

.pagination {
	display: flex;
	justify-content: center;
}

.pageNums {
	list-style: none;
	color: var(--lightText);
	display: flex;
}

.pageNums li {
	margin: 0.3rem;
	height: 2rem;
	width: 2rem;
	cursor: pointer;
	font-weight: 600;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pageNumbers:hover {
	border: var(--lightText) 2px solid;
}

.pageNums li.activeNum {
	color: var(--accentColor);
}
.pageBtns {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-color: var(--accentColor);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* loader from loading.io/css */
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: ' ';
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
